<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.derik.demo"
    android:sharedUserId="com.derik.demo.main">

    <!-- 添加接收方属性中要求的权限后，才可以给对方发送广播 -->
    <uses-permission android:name="com.android.mypermission.send" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 创建桌面快捷方式的权限 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 自定义权限, 发送广播时附带此权限后，只有对方添加该权限才有权利接受此广播。对方未添加此权限，不影响非附带权限广播的接受 -->
    <permission
        android:name="com.android.mypermission.receiver"
        android:protectionLevel="normal" />

    <!-- 多渠道打包时使用 -->
     <meta-data android:name="CHANNEL" android:value="${CHANNEL_VALUE}" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StorageActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".NetActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ViewsActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".OthersActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".storage.sqlite.SQLiteActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".storage.filesharepre.SharePreferencesActivity"
            android:label="@string/app_name" />

        <provider
            android:name=".storage.contentprovide.MyContentProvider"
            android:authorities="org.foxconn.provider.first"
            android:exported="true" />

        <activity
            android:name=".views.attribute.AttributeTest"
            android:label="@string/app_name" />
        <activity
            android:name=".net.url.HttpURLTestActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".views.fragment.FragmentTestMain"
            android:label="@string/app_name" />
        <activity
            android:name=".storage.DrawableTest"
            android:label="@string/app_name" />
        <activity
            android:name=".views.gesture.GestureTestActivity"
            android:label="@string/app_name" />

        <!-- <activity -->
        <!-- android:name=".b_second.httpclient.HttpClientTest" -->
        <!-- android:label="@string/app_name" /> -->
        <activity
            android:name=".net.WebViewTestActivity"
            android:label="@string/app_name" />
        <activity android:name=".net.socket.UdpTestActivity" />
        <activity android:name=".net.socket.TcpTestActivity" />
        <activity
            android:name=".others.DesktopTestActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".others.JavaCodeDefViewActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Material.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.myaction1" />
                <action android:name="android.intent.action.myaction2" />

                <category android:name="android.intent.category.mycategory1" />
                <category android:name="android.intent.category.mycategory2" />

                <data
                    android:host="192.168.0.100"
                    android:mimeType="application/json"
                    android:scheme="http" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".others.BroadcastPermissionActivity"
            android:label="@string/app_name" />
        <activity android:name=".media.install_tts.SystemVideoActivity" />
        <activity android:name=".media.soundpool.SoundPoolTestActivity" />
        <activity android:name=".views.gesture.GestureAddActivity" />
        <activity android:name=".net.url.URLTestActivity" />

        <service
            android:name=".net.AIDLService"
            android:exported="true"
            android:process="com.derik.demo.aidlService">
            <intent-filter>
                <action android:name="com.derik.demo.action" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="com.derik.demo.meta_data_service"
                android:resource="@string/meta_data_service" />
        </service>

        <activity android:name=".net.AIDLActivity" />
        <activity android:name=".media.camera.CameraTestActivity" />
        <activity android:name=".media.camera.ScreenCaptureActivity" />
        <activity android:name=".views.component.AutoCompleteTextViewTest" />
        <activity android:name=".views.MetaDataTestActivity">
            <meta-data
                android:name="com.derik.demo.meta_data_activity"
                android:resource="@string/meta_data_activity" />
        </activity>

        <meta-data
            android:name="com.derik.demo.meta_data_app"
            android:resource="@string/meta_data_app" />

        <activity android:name=".views.serialparcel.SerialParcelActivity" />
        <activity android:name=".views.regular.RegularTestActivity" />
        <activity android:name=".views.viewpager.ViewPagerTabStripActivity" />
        <activity
            android:name=".views.viewpager.TabbedTestActivity"
            android:label="@string/title_activity_main2" />
        <activity android:name=".views.viewpager.TabHostActivity" />
        <activity android:name=".views.sensor.SensorTestActivity" />
        <activity android:name=".jni.JniTestActivity" />
        <activity android:name=".views.resource.ResourceTestActivity" />
        <activity android:name=".views.resource.MenuTestActivity" />
        <activity android:name=".views.graph.GraphTestActivity" />
        <activity android:name=".net.async.AsyncTaskTestActivity" />
        <activity android:name=".views.PercentLayoutActivity" />
        <activity android:name=".MultiMediaActivity" />
        <activity
            android:name=".others.MultiProcessActivity"
            android:process="multi.process" />
        <activity android:name=".NativesActivity" />
        <activity android:name=".storage.filesharepre.FileOperateActivity"></activity>
    </application>

</manifest>